@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>Online Store</h1>
    <p>Welcome to Johnny's Online Store! You can purchase consoles, accessories and games here. You can register as 'Regular' user to purchase products. Or, register as 'Advanced' user to sell your own products!</p>
</div>

<div class="panel-group">
    <div class="panel panel-primary">
        <div class="panel-body">Default User Account</div>
    </div>
    <div class="panel panel-default">
        <ul class="list-group">
            <li class="list-group-item">admin@gamestore.com / admin</li>
            <li class="list-group-item">advanced@gamestore.com / advanced</li>
            <li class="list-group-item">regular@gamestore.com / regular</li>
        </ul>
    </div>
</div>



